.movies {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movies__content {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__button {
  background: #2F2F2F;
  border-radius: 6px;
  max-width: 1140px;
  width: 100%;
  min-height: 36px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: none;
  margin: 43px 0 80px 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .movies {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 900px) {
  .movies__button {
    margin-top: 63px;
  }
}

@media (max-width: 590px) {
  .movies {
    padding-left: 10px;
    padding-right: 10px;
  }

  .movies__button {
    margin: 57px 0 80px 0;
  }
}

.movies__search-error {
  display: block;

  margin: 0;
  padding-top: 10%;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.movies__search-error-hidden {
  display: none;
}